*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg_alternative: #1ABC9C;
    --bg_footer: #3A546D;
    --bg_top_bot: #2C3E50;
    --bg_light: #FFFFFF;
}


#site_header{
    background-color: var(--bg_top_bot);
}

.left,
.right{
    width: 12%;
    height: 4px;
    border-radius: 1rem;
}

.left_second,
.right_second{
    width: 6%;
    height: 3px;
    border-radius: 1rem;
}

.bg_alternative{
    background-color: var(--bg_alternative);
}

#site_footer{
    background-color: var(--bg_footer);
}

.bg_bottom{
    background-color: var(--bg_top_bot);
}
